## Load supplementary Data for Train/Val/Test sets and Save

Takes list from `0_preproc` step and saves train/val/holdout dataframes as pkl files.

Loads up the data from CSV raw and saved in the shared data directory at `/mistorage/mads/data`

data derived from TLE to see if they help

`'SEMIMAJOR_AXIS','PERIOD','APOAPSIS','PERIAPSIS','RCS_SIZE'`

saved in `tle_sup`

In [1]:
import os
import sys

from load_data_alt import *

In [2]:
if ('my_home_path' not in os.environ) and ('MY_HOME_PATH' in os.environ):
    os.environ['my_home_path'] = os.environ['MY_HOME_PATH'] # because stupid :(

In [3]:
norad_lists = load_norads(['train','validate','secret_test'])

In [4]:
%time df_dict = load_data(norad_lists, use_all_data=True, debug=True, multiproc=True)  # Takes about 4min

Loading files from path: /mistorage/mads/data/gp_history

100%|██████████| 1484/1484 [01:25<00:00, 17.36it/s]
  0%|          | 0/3 [00:00<?, ?it/s]

Finished loading.

100%|██████████| 3/3 [00:06<00:00,  2.06s/it]

Finished assembling.
CPU times: user 12.3 s, sys: 8.08 s, total: 20.4 s
Wall time: 1min 31s

In [5]:
# %time write_data(df_dict, use_all_data=True, debug=True, threaded=True, path='/mistorage/mads/data/1_full')

In [6]:
def blah(x):
    if x == 'SMALL':
        return 0
    elif x == 'MEDIUM':
        return 1
    elif x == 'LARGE':
        return 2
    else:
        return -1

for k,df in df_dict.items():
    df['RCS_SIZE'] = df.RCS_SIZE.apply(blah)
    df.set_index("GP_ID", inplace=True)

In [7]:
%time write_data(df_dict, use_all_data=True, debug=True, threaded=True, path=f"{os.environ['GP_HIST_PATH']}/../tle_sup")

Saving files to path: /mistorage/mads/data/gp_history/../tle_sup
Writing raw data for to: /mistorage/mads/data/gp_history/../tle_sup/train.pkl
Writing raw data for to: /mistorage/mads/data/gp_history/../tle_sup/test.pkl
Writing raw data for to: /mistorage/mads/data/gp_history/../tle_sup/secret_test.pkl
Finished saving /mistorage/mads/data/gp_history/../tle_sup/test.pkl
Finished saving /mistorage/mads/data/gp_history/../tle_sup/secret_test.pkl
Finished saving /mistorage/mads/data/gp_history/../tle_sup/train.pkl
CPU times: user 86 ms, sys: 3.14 s, total: 3.22 s
Wall time: 16.4 s

In [8]:
for k,df in df_dict.items():
    print(k)
    display(df.head())
    display(df.info())

train

       SEMIMAJOR_AXIS   PERIOD  APOAPSIS  PERIAPSIS  RCS_SIZE
GP_ID
2            7698.502  112.038  1863.028    777.705         0
3            7783.730  113.904  1474.210   1336.980         1
5            7322.091  103.923  1006.146    881.767         0
6            7372.257  104.992  1147.143    841.101         1
8            7643.204  110.833  1286.057   1244.081         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55239839 entries, 2 to 175915071
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   SEMIMAJOR_AXIS  float64
 1   PERIOD          float64
 2   APOAPSIS        float64
 3   PERIAPSIS       float64
 4   RCS_SIZE        int64
dtypes: float64(4), int64(1)
memory usage: 2.5 GB

None

test

       SEMIMAJOR_AXIS   PERIOD  APOAPSIS  PERIAPSIS  RCS_SIZE
GP_ID
15           7309.168  103.648   980.242    881.824         0
96           7805.631  114.385  1433.352   1421.640         1
115          7458.398  106.838  1101.322   1059.204         0
143          7368.944  104.922  1139.776    841.842         0
159          7324.120  103.966   997.563    894.408         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10734112 entries, 15 to 175915070
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   SEMIMAJOR_AXIS  float64
 1   PERIOD          float64
 2   APOAPSIS        float64
 3   PERIAPSIS       float64
 4   RCS_SIZE        int64
dtypes: float64(4), int64(1)
memory usage: 491.4 MB

None

secret_test

       SEMIMAJOR_AXIS   PERIOD  APOAPSIS  PERIAPSIS  RCS_SIZE
GP_ID
18           7509.421  107.936  1177.386   1085.187         1
20           8080.196  120.473  2324.960   1079.162         0
24           7970.547  118.029  1757.198   1427.625         1
60           7292.254  103.288   939.252    888.986         1
61           7121.031   99.672   801.917    683.876         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10645034 entries, 18 to 175914858
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   SEMIMAJOR_AXIS  float64
 1   PERIOD          float64
 2   APOAPSIS        float64
 3   PERIAPSIS       float64
 4   RCS_SIZE        int64
dtypes: float64(4), int64(1)
memory usage: 487.3 MB

None